---
version: '2.2'
# adapted from:
# https://github.com/SeleniumHQ/docker-selenium/wiki/Getting-Started-with-Docker-Compose
# template for {{ inventory_file|basename }}
# docker-compose --force-recreate

services:

{% for key, value in firefox.items() %}
  firefox{{ key }}:
    image: "{{ selenium_registry|default(None) }}selenium/node-firefox:{{ value }}"
    volumes:
      - /dev/shm:/dev/shm
    depends_on:
      - hub
    environment:
      HUB_HOST: hub
      SCREEN_WIDTH: {{ screen_width }}
      SCREEN_HEIGHT: {{ screen_height }}
      SCREEN_DEPTH: {{ screen_depth | default('24') }}
      http_proxy: "{{ lookup('ENV','http_proxy') }}"
      https_proxy: "{{ lookup('ENV','http_proxy') }}"
      no_proxy: {{ lookup('ENV','no_proxy') }}
      TZ: "{{ ss_container_timezone }}"
    restart: always
{% endfor %}

{% for key, value in chrome.items() %}
  chrome{{ key }}:
    image: "{{ selenium_registry|default(None) }}selenium/node-chrome:{{ value }}"
    volumes:
      - /dev/shm:/dev/shm
      - /data/tls:/etc/ssl/certs
    depends_on:
      - hub
    environment:
      HUB_HOST: hub
      SCREEN_WIDTH: {{ screen_width }}
      SCREEN_HEIGHT: {{ screen_height }}
      SCREEN_DEPTH: {{ screen_depth | default('24') }}
      http_proxy: "{{ lookup('ENV','http_proxy') }}"
      https_proxy: "{{ lookup('ENV','http_proxy') }}"
      no_proxy: {{ lookup('ENV','no_proxy') }}
      TZ: "{{ ss_container_timezone }}"
    restart: always
{% endfor %}

  hub:
    image: {{ ss_se_container_image }}
    ports:
      - "4444:4444"
    expose:
      - 4444
    environment:
      JAVA_OPTS: "-Xmx512m"
      TZ: "{{ ss_container_timezone }}"
    restart: always
