---
version: '2.2'
# adapted from:
# https://github.com/SeleniumHQ/docker-selenium/wiki/Getting-Started-with-Docker-Compose
# template for {{ inventory_file|basename }}
# docker-compose --force-recreate

services:
  firefox:
    image: {{ ss_ff_container_image }}
    volumes:
      - /dev/shm:/dev/shm
    depends_on:
      - hub
    environment:
      HUB_HOST: hub
      SCREEN_WIDTH: {{ screen_width }}
      SCREEN_HEIGHT: {{ screen_height }}
      SCREEN_DEPTH: {{ screen_depth | default('24') }}
      http_proxy: "{{ lookup('ENV','http_proxy') }}"
      https_proxy: "{{ lookup('ENV','http_proxy') }}"
      no_proxy: {{ lookup('ENV','no_proxy') }}
      TZ: "{{ ss_container_timezone }}"
    restart: always

  chrome:
    image: {{ ss_cr_container_image }}
    volumes:
      - /dev/shm:/dev/shm
      - /data/tls:/etc/ssl/certs
    depends_on:
      - hub
    environment:
      HUB_HOST: hub
      SCREEN_WIDTH: {{ screen_width }}
      SCREEN_HEIGHT: {{ screen_height }}
      SCREEN_DEPTH: {{ screen_depth | default('24') }}
      http_proxy: "{{ lookup('ENV','http_proxy') }}"
      https_proxy: "{{ lookup('ENV','http_proxy') }}"
      no_proxy: {{ lookup('ENV','no_proxy') }}
      TZ: "{{ ss_container_timezone }}"
    restart: always

  hub:
    image: {{ ss_se_container_image }}
    ports:
      - "4444:4444"
    expose:
      - 4444
    environment:
      JAVA_OPTS: "-Xmx512m"
      TZ: "{{ ss_container_timezone }}"
    restart: always
